.logo {
    height: 80px;
    width: 80px;
}

.link1:hover {
    border-bottom: 2px solid #111111;
}

.ft-size {
    font-size: 50px;
}

.background-hire {
    background-color: #f0b60b;
}

::placeholder {
    font-style: italic;
}

.button1 {
    width: 100%;
}

.red {
    color: red;
}

.footer-bg {
    background-color: #111111;
}

.button-color {
    background-color: red !important;
    color: white !important;
}

.button-transition:hover {
    transform: scale(1.1);
}