.logo {
    height: 80px;
    width: 80px;
}

.image1 {
    background-image: url(img/brainster1.png);
    background-size: cover;
    height: 80vh;
}

.academy {
    background-color: #111111;
    color: #D9D9D9;
}

.link1:hover {
    border-bottom: 2px solid #111111;
}

.card-deck img {
    height: 220px;
}

.button-color {
    background-color: red !important;
    color: white !important;
}

.red {
    color: red;
}

.footer-bg {
    background-color: #111111;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.button-transition:hover {
    transform: scale(1.1);
}

.selected {
    background-color: #FFC107;
    color: #111111;
}